In [1]:
import pandas as pd
import numpy as np

In [ ]:
sales=pd.read_csv(r'D:\GdriveBackup\0.Projects\Mock Projects\DE\Python\Sales.csv',low_memory=False)
sales

In [ ]:
a=sales.groupby(['Product Category','PlainStudded','Parent Product Category','Product','Sub Product']).sum()
a['Gross Amount']

In [ ]:
sales['Product'].unique()

In [ ]:
sales['Sales Date']=sales['Sales Date'].astype('datetime64[ns]')

In [ ]:
sales['new col']=sales['City']+'2'

In [ ]:
sales.dropna(subset=['City','State'])

In [ ]:
sales['Parent Product Category'].values

In [ ]:
sales.drop(index=1)

In [ ]:
a=[1,32,34,56,43,56]
a
b=np.array(a)
b

In [ ]:
b=b.astype('int32')

In [ ]:
b

In [ ]:
def find_vk(a):
    return\
'V Kolhi' in a

find_vk(['V Kolhi','R Sharma','MS Dhoni'])

In [ ]:
sales[['Gross Amount','Parent Product Category']].groupby('Parent Product Category')

In [ ]:
sales.columns

In [ ]:
a=sales[['Product Category','PlainStudded','Gross Amount']].groupby(['Product Category','PlainStudded']).mean()
a

In [ ]:
a=sales[sales['Product Category']=='Diamond Jewelry'][['Sales Date','Gross Amount']]\
    .groupby('Sales Date').mean()
a.sort_index(ascending=False).plot(kind='area')

In [ ]:
# Grouping by 'Product Category' and summing 'Gross Amount'
grouped_sales = sales.groupby('Product Category')['Gross Amount'].sum()

# Now printing the result
print(grouped_sales)

In [ ]:
sales[sales['Type']=='Return'].select_dtypes(include='number').columns

In [ ]:
sales[sales['Type']=='Return'].select_dtypes(include='number')

In [ ]:
sales[sales['Type']=='Return'][['Cost Price','Sales Price','Stone Value','Diamond Value','Gold Value','Palladium Value','Diamond Weight'\
                               ,'Diamond Pieces','Stone Weight','Stone Pieces','Net Weight','URD Discount Amount','OGADJUSTEDAMOUNT'\
                                ,'URDADDLDEDUCITON','Platinum Value', 'Hallmarking Value',\
                                'Handling Value', 'Silver Value', 'Setting Value', 'Labour Value',\
                                'Wastage Amount', 'Second Wastage Amount', 'Other Charges',\
                                'IGI Amount', 'PGI Amount']]*-1

In [ ]:
v=(sales[sales['Type']=='Return'][['Cost Price','Sales Price','Stone Value','Diamond Value','Gold Value','Palladium Value','Diamond Weight'\
                               ,'Diamond Pieces','Stone Weight','Stone Pieces','Net Weight','URD Discount Amount','OGADJUSTEDAMOUNT'\
                                ,'URDADDLDEDUCITON','Platinum Value', 'Hallmarking Value',\
                                'Handling Value', 'Silver Value', 'Setting Value', 'Labour Value',\
                                'Wastage Amount', 'Second Wastage Amount', 'PGI Amount']]<0).any()
print(v)

In [ ]:
a=(sales[sales['Type']=='Return'].select_dtypes(include='number')<0).any()
print(a)

In [ ]:
sales.info()

In [ ]:
sales.select_dtypes(include='d')

In [ ]:
sales['Sales Date']=sales['Sales Date'].astype('date64[pyarrow]')

In [ ]:
sales[sales['Sales Person Name'].fillna('Na').str.contains('Mahendra')][['Sales Person Name','Gross Amount']].groupby('Sales Person Name').sum()

In [ ]:
s=sales.set_index('Sales Date').copy()
s.index.rename('Date',inplace=1)
s

In [ ]:
s.rename_axis('Sales Date',inplace=True)
s.reset_index(inplace=True)
s.rename_axis(None,inplace=True)
s

In [ ]:
s[s.duplicated()]

In [ ]:
s.filter([2800,28001],axis=0)

In [ ]:
test={
    'col1':'Visaal',
    'col2':'Peter',
    'col3':'Harry'
}
for x in test.values():
    print(x+' hai bkl')

In [ ]:
test2=['visaal','peter','harry']
for x in test2:
    print(x)

In [ ]:
s.sort_index(axis=0,ascending=False)

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('test_space').getOrCreate()

pydf=spark.createDataFrame(s)
pydf.show(truncate=False)
pydf.printSchema()

In [ ]:
from pyspark.sql.functions import *
pydf_w_nulls=pydf.select(nanvl(col('Sub Brand'),lit(None)).alias('Sub Brand'))

pydf_filled=pydf_w_nulls.na.fill({'Sub Brand':'uksb'}).distinct()
pydf_filled.show()

In [ ]:
pydf.select(col('Parent Product Category')).distinct().show()

In [ ]:
from pyspark.sql.functions import *
pydf.filter(col('Parent Product Category').isNull())# Filter for null values in 'Parent Product Category'
null_rows = pydf.filter(col("`Parent Product Category`")=='NaN')

# Show the rows with null values
null_rows.show(truncate=False)

In [ ]:
x=s[(s['City']=='Delhi')|(s['City']=='Thane')][['Discount','City','Gross Amount']].groupby('City')\
    .agg(Total_Disc=('Discount','sum'),\
         Avg_gross=('Gross Amount','mean'))
x
# x.plot(kind='bar')

In [ ]:
u=s[['Discount','City']].groupby('City').sum()
u

In [ ]:
# Filter the DataFrame for City == 'Delhi'
filtered_df = pydf.filter((col('City') == 'Delhi')|( col('City')=='Thane'))

# Select and alias the City column
result_df = filtered_df.select(col('City').alias('City'), 'Customer ID', 'Discount','Gross Amount')

grouped_df=result_df.groupBy('City').agg(sum('Discount').alias('TotalDisc'),
                                         avg('Gross Amount').alias('TotalGA'))
# Show the result
grouped_df.show()

In [ ]:
s

In [ ]:
statement=pd.read_excel(r'D:\GdriveBackup\0.Projects\Mock Projects\DE\Python\statement0310-1010.xlsx',header=0)

In [ ]:
statement

In [ ]:
statement[statement['VendorName'].fillna('ukpat').str.contains('ZOMATO')][['VendorName','Debit']]\
.groupby('VendorName').sum()

In [ ]:
statement['Tran Date']=statement['Tran Date'].astype('datetime64[ms]')

In [ ]:
dtf=pd.to_datetime(['2024-10-06','2024-10-07'])

In [ ]:
statement[statement['Tran Date'].isin(dtf)].sort_values('VendorName')[['VendorName','Debit']]

In [ ]:
statement['Credit']=statement['Credit'].replace('-',0)

In [ ]:
statement['Credit']=statement['Credit'].astype('float64')

In [ ]:
print(statement['Debit'].agg({'total':'sum','avg':'mean'}))

In [ ]:
statement['Debit'].sum()

In [ ]:
stm=spark.createDataFrame(statement)
stm.show()

In [ ]:
uy=stm.filter(to_date(col('Tran Date')).isin('2024-10-06','2024-10-07'))
uy.orderBy('VendorName').select('VendorName',col('Debit').alias('loude lage')).show()

In [ ]:
qw=stm.filter(col('Particulars').contains('ZOMATO'))
qw.show()

In [ ]:
# stm=stm.withColumn('VendorNamewPys',split(col('Particulars'),'/').getItem(3))
stm.limit(4).orderBy(col('Balance').desc()).show(truncate=False)

In [ ]:
# statement['Particulars'].str.split('/').str[4]
oro=stm.select(col('Tran Date').cast('date').alias('cast_to_date'))\
    .distinct().orderBy(col('cast_to_date').desc())
oro.show()
sel_dates=['2024-10-08','2024-10-05']

oro.filter(col('cast_to_date').isin(sel_dates)).show()

In [ ]:
oro.select(col('cast_to_date').isNotNull()).show()

In [ ]:
statement.sort_values(['Tran Date','VendorName'],ascending=[True,False]).fillna({'VendorName':\
                                                                                 'NaVendor'})

In [ ]:
stm.orderBy('Tran Date',col('VendorName').desc()).show()

In [ ]:
stm=stm.withColumnRenamed('Init. Br','Initial Balance')
stm.show()

In [ ]:
stm.select(
    col('VendorName').alias('VendorNamewpd'),  # Alias the 'VendorName' column
    *[col(c) for c in stm.columns if c != 'VendorName']  # Select all other columns as they are
).show(truncate=False)