## More important functions

In [4]:
# value_counts
# sort_values
# rank
# sort_index
# set_index
# rename_index
# reset_index
# unique & nunique
# isnull/notnull/hasnans
# dropna
# fillna
# drop_duplicates
# drop
# apply
# isin
# cor
# nlargest -> nsmallest
# insert
# copy

In [4]:
import numpy as np
import pandas as pd

In [ ]:
a=pd.Series([2,1,1,13,4])
a.value_counts()

In [ ]:
# value_counts: Series and DataFrame

marks=pd.DataFrame(
    [
        [100,80,10],
        [90,70,7],
        [120,100,14],
        [80,70,14],
        [80,70,14]
    ],columns=['iq','marks','package']
)
marks

In [ ]:
marks.value_counts()

In [ ]:
marks.iloc[0:2,0:2]

In [ ]:
ipl=pd.read_csv(r'D:\GdriveBackup\0.Projects\Mock Projects\DE\Python\ipl-matches.csv')
movies=pd.read_csv(r'D:\GdriveBackup\0.Projects\Mock Projects\DE\Python\movies.csv')
ipl.sample()

In [ ]:
# find which player has most potm awards in critical matches
ipl[~ipl['MatchNumber'].str.isdigit()]['Player_of_Match'].value_counts()

In [ ]:
# toss decision plot

ipl['TossDecision'].value_counts().plot(kind='pie')

In [ ]:
# how many matches each team has played
a=ipl['Team1'].value_counts()+ipl['Team2'].value_counts()
a

In [ ]:
# sort_values (Series and Dataframes)-> ascending -> na_position -> inplace -> multiple cols

x=pd.Series([1,57,223,9422]).sort_values(ascending=False)
x

In [ ]:
movies.sort_values('title_x',ascending=False)

In [ ]:
students=pd.DataFrame({
'name': ['nitish', 'ankit', 'rupesh', np.nan, 'mrityunjay', np.nan, 'rishabh', np.nan, 'aditya', np.nan],
'college': ['bit', 'iit', 'vit', np.nan, np.nan, 'vlsi', 'ssit', np.nan, np.nan, 'git'],
'branch': ['eee', 'it', 'cse', np.nan, 'me', 'ce', 'civ', 'cse', 'bio', np.nan],
'cgpa': [6.66,8.25,6.41, np.nan, 5.6,9.0, 7.4,10,7.4, np.nan],
'package': [4,5,6, np.nan,6,7,8,9, np.nan, np.nan]
})
students

In [ ]:
students.sort_values('name',na_position='first',ascending=False)

In [ ]:
movies.sort_values(['year_of_release','title_x'],ascending=[True,False])

In [ ]:
movies[movies['year_of_release']==2001]

In [ ]:
# rank(series)
batter=pd.read_csv(r'D:\GdriveBackup\0.Projects\Mock Projects\DE\Python\batsman_runs_ipl.csv')
batter['rank']=batter['batsman_run'].rank(ascending=False)
batter.sort_values('rank')

In [ ]:
batter.sort_values('batsman_run',ascending=False)
# batter=batter.drop(columns='rank')

In [ ]:
# sort_index

marks = {
'maths' :67,
'english':57,
'science':89,
'hindi':100
}
marks_series = pd. Series (marks,name='scores')
marks_series

In [ ]:
marks_series.sort_index(ascending=False)

In [ ]:
movies.sort_index(ascending=False)

In [ ]:
ipl[['MatchNumber','ID']]

In [118]:
# set_index() -> inplace

batter.set_index('batter',inplace=True)

In [ ]:
# reset_index(series,dataframe) -> drop parameter

batter.reset_index(inplace=False)
batter

In [ ]:
# series to dataframe using reset index
marks_series.reset_index()

In [131]:
# rename(dataframe) -> index

# movies.set_index('title_x',inplace=True)
movies.rename(columns={'imdb_id':'imdb','poster_path':'link'},inplace=True)

In [ ]:
movies.rename(index={'Uri: The Surgical Strike':'Uri','Battalion 609':'Battalion'})

In [ ]:
# unique

temp=pd.Series([1,2,3,5,6,7,7,np.nan,np.nan])
print(temp)
temp.unique()

In [ ]:
ipl['Season'].unique()

In [ ]:
len(temp.unique())

In [ ]:
temp.nunique()

In [ ]:
# nunique
ipl['Season'].nunique()

In [ ]:
#isnull(series + dataframe)
students['name'][~students['name'].isnull()]

In [ ]:
# notnull(series + dataframe)
students[students['name'].notnull()]

In [ ]:
#hasnans(series)
# attribute
students['name'].hasnans

In [ ]:
students.isnull()

In [ ]:
students.notnull()

In [ ]:
# dropna(series + dataframe) -> how parameter ->work like or

students['name'].dropna()

In [ ]:
students

In [ ]:
students.dropna(how='all')

In [ ]:
students.dropna(subset=['name','college'])

In [ ]:
# fillna

students['name'].fillna('unknown')

In [ ]:
students.fillna(value={'name':'unknown','college':'noCol','package':students['package'].mean()})

In [ ]:
students.fillna(method='ffill')

In [ ]:
# drop_duplicates (series + dataframes) -> works like and -> duplicated()

temp= pd.Series([1,2,2,3,4,5,5,5,6])
temp.drop_duplicates()

In [ ]:
marks.drop_duplicates()

In [ ]:
# find the last match played by virat kolhi in delhi

ipl[((ipl['Team1Players'].str.contains('V Kohli'))|(ipl['Team2Players'].str.contains('V Kohli')))&(ipl['City']=='Delhi')].sort_values('Date',ascending=False).head(1)